<!--The content below is only a placeholder and can be replaced.-->
<header>
     <div id="headertxt">Un petit village sans histoire !</div>
</header>

<div id="statpart" class="col-sm-12">
     <!-- statPart -->

<div id="statpart-zone" name="statpart-loup" class="col-sm-5">
          <img src="./assets/svg/wolfHead.svg" class="icone"/>

          <span id="loups"> Loups restants : </span>
          <div class="well well-sm" > </div>
     </div>

     <div id="statpart-zone" name="statpart-vill" class="col-sm-5">
          <img src="./assets/svg/vill.svg" class="icone" />
      <span id="villageois"> Villageois restants : </span>
          <div class="well well-sm" > </div>
     </div>
</div>

<router-outlet></router-outlet>

<footer>

     <img src="./assets/svg/pursuer.svg" id="pursuer" />


     <img src="./assets/svg/runner.svg" id="runner"/>

     <div class="blockquote-footer"> Copyright SopraSteria AJC &copy;
               <br>
               Toutes les cartes marquées &copy; sont copyright des éditions "Lui-même", Philippe des Pallières, Hervé Marly.
               <br>
               Toutes les illustrations sont copyright des éditions "Lui-même", Alexios Tjoyas, Philippe des Pallières, Hervé Marly,.
               <br>
               Toute utilisation sans l'accord écrit des détenteurs de droits, est strictement interdite.</div>

 </footer>
