<div class="powerInter">		
		<form method="post" action="jeu/voir">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<select name="avoir" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
				<option th:each="v : ${listVills}" th:value="${v.userID}" th:if=" not ${ currentUser.userID == v.userID OR #lists.contains(joueurVu, v)}">[[${v.userName}]]</option>
			</select>
			
			<div id="centered-button">
				<button type="submit" class="btn btn-info">Voir</button>
			</div>
			
		</form>
		
	<div class="liste" th:each="v : ${joueurVu}">
		<img class="cardlist" src="img/vill.png" th:if="${ v.role == 'Villageois' }"/>
		<img class="cardlist" src="img/loupg.png" th:if="${ v.role == 'Loup' }"/>
		<img class="cardlist" src="img/chasseur.png" th:if="${ v.role == 'Chasseur' }"/>
		<img class="cardlist" src="img/cupidon.png" th:if="${ v.role == 'Cupidon' }"/>
		<img class="cardlist" src="img/pfille.png" th:if="${ v.role == 'PetiteFille' }"/>
		<img class="cardlist" src="img/sorciere.png" th:if="${ v.role == 'Sorciere' }"/>
		<img class="cardlist" src="img/voyante.png" th:if="${ v.role == 'Voyante' }"/>
		<label>[[${v?.userName}]]</label>
	</div>
		
</div>