body {
	background: #F90330;
}

td {
  vertical-align: middle;
}

table tbody tr td div p {
	line-height: 10pt;
}

#container-fluid{
	display : flex;
}

#chat, #edit, #menu, #statJoueur, #vote{
	margin:0 auto;
}

#identification {
	text-align : center;
	
}

#connexion h2 {
	text-align : center;
}

#connexion-button, #inscription-button{
	text-align : center;
}

#connexion-valid, #inscription-valid {
	margin:0 auto;
}

#centered-button{
	text-align: center;
}

#statpart {
	background:#0B0B3B;
}

header {
	height: 200px;
	background-image: url("../../img/header.jpg");
	background-position: right bottom;
	background-repeat: no-repeat;
} 

#statpart {
	position : bottom;
}

#chat {
	height:600px;
	max-height:600px;
	background: rgba(99,99,99,0.78);
	overflow-y:scroll;
	color: black;
	font-weight:bold;
}

#page-center {
	background-image: url("../../img/center_bc.png");
	background-position: center top;
	background-repeat: no-repeat;
}


nav div {
	background-color: #0B0B3B;
}

nav div ul a {
	background-color: #0B0B3B;
	font: bold;
}

nav div ul a li {
	color: #ffffff;
	background-color: #0B0B3B;
}

/* Animate.css copyright */
@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

div[class="blockquote-footer"]{
	color: #000000;
}

footer {
	background-color: #808000;
}

svg {
	position: relative;
	width: 100px;
	height: 100px;
}

svg[id="runner"]{
	top: 0;
	left: 0;
	right: 500px;
	/*  */
}

svg[id="runner"]:onload{
	top: 0;
	left: 0;
	right: 500px;
	animation:lightSpeedIn;
	/*  */
}

svg[id="pursuer"]{
	top: 0;
	left: -500px;
	/*  */
}

#menu, #vote {
	background: rgba(99,99,99,0.60);
	padding-bottom:20px;
	border-radius: 20px;
}

#menuTitle, #voteTitle {
	background:#0B0B3B;
	text-align:center;
	color:white;
	margin-left: -15px;
    width: calc(100% + 30px);
}

