body {
	background: #F90330;
}

td {
  vertical-align: middle;
}

table tbody tr td div p {
	line-height: 10pt;
}

#container-fluid{
	display : flex;
}

#chat, #edit, #menu, #statJoueur, #vote{
	margin:0 auto;
}

#identification {
	text-align : center;
	
}

#connexion h2 {
	text-align : center;
}

#connexion-button, #inscription-button{
	text-align : center;
}

#connexion-valid, #inscription-valid {
	margin:0 auto;
}

#centered-button{
	text-align: center;
}

#statpart {
	background:#0B0B3B;
}

header {
	height: 200px;
	background-image: url("../../img/header.jpg");
	background-position: right bottom;
	background-repeat: no-repeat;
} 

#statpart {
	position : bottom;
}

#chat {
	height:600px;
	max-height:600px;
	background: rgba(99,99,99,0.78);
	overflow-y:scroll;
	color: black;
	font-weight:bold;
}

#page-center {
	background-image: url("../../img/center_bc.png");
	background-position: center top;
	background-repeat: no-repeat;
}
