td {
  vertical-align: middle;
}

table tbody tr td div p {
	line-height: 10pt;
}

div {
	border-style: solid;
	align-content: center;
}

#container-fluid{
	display : flex;
}

#chat, #edit, #menu, #statJoueur, #vote{
	margin:0 auto;
}

